*{
    padding: 0%;
    margin: 0%;
}
.header{
    text-align: center;
    color: green;
    margin-top: 4%;
}
.table{
    width: 75%;
    margin-top: 5%;
    margin-left: 12%;
    text-align: center;
}
.table1{
    color: red;
    font-weight: bold;
    text-align: center;
}
td:nth-child(even), th:nth-child(even) {
    background-color: #D6EEEE;
  }
  #btn{
      margin-top: 5%;
      margin-bottom: 4%;
      margin-left: 45%;
      padding: 5px;
      background-color: rgb(59, 229, 235);
  }
  .checked{
    margin-left: 50px;
  }